<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="Chip8Emulator-95ab-4104-9fba-3e27f0ef1860"
    Publisher="CN=Bashar Astifan"
    Version="1.0.5.0" />

  <mp:PhoneIdentity PhoneProductId="9267a29e-8974-490a-993e-e01770259717" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>CHIP-8 Emulator</DisplayName>
    <PublisherDisplayName>Jody Andrews</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="UWPChip8.App">
      <uap:VisualElements
        DisplayName="CHIP-8 Emulator"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="CHIP-8 Emulator UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="portrait"/></uap:InitialRotationPreference>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="chip8rom">
            <uap:SupportedFileTypes>
              <uap:FileType>.ch8</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Chip8 Rom</uap:DisplayName>
            <uap:InfoTip>Chip8 Rom</uap:InfoTip>
            <uap:Logo>Assets\fileIcon.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>